apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: kafka-pubsub
spec:
  type: pubsub.kafka
  version: v1
  metadata:
    - name: brokers
      # In K8s, services invoke each other via DNS names: <service>.<namespace>.svc.cluster.local
      value: "redpanda.messaging.svc.cluster.local:9093"
    - name: consumerGroup
      value: "todo-group"
    - name: authRequired
      value: "false"