name: Build and Push Docker Images

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Backend
      run: |
        docker build -t saimpra786/todo-backend:latest ./backend
        docker push saimpra786/todo-backend:latest

    - name: Build and Push Frontend
      run: |
        docker build -t saimpra786/todo-frontend:latest ./frontend
        docker push saimpra786/todo-frontend:latest